<h1>Neha Sinha<h1>
<h2>Hello! Welcome to the page that's all about me!!<h2>
<h3> Here is my github page <%= link_to  'https://github.com/neha-26', 'https://github.com/neha-26' %>
</h3>
<%= image_tag("Neha Sinha.jpg")%>

<p> <%= link_to  "Home", home_path %>
</p>